<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                        class="fa fa-arrow-right"></i></a>{{'designstitle'|translate}}</h2>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 ">
                <div class="card">
                    <img src="../../../../../assets/images/img/design4.png" > 
                    <h3>التصميم الاول </h3>
                <div >
                    <button class="show" (click)="onView('../../../../../assets/images/img/design4.png')">عرض</button>
                    <button class="chose" [ngClass]="{'chosed' : chose=='4'}" (click)="chosedesign(4)">انقر للاختيار</button>
                        
                </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 ">
                <div class="card">
                    <img src="../../../../../assets/images/img/design2.png"> 
                    <h3>التصميم الثانى </h3>

                    <div >
                        <button class="show" (click)="onView('../../../../../assets/images/img/design2.png')">عرض</button>
                        <button class="chose" [ngClass]="{'chosed' : chose=='2'}"(click)="chosedesign(2)">انقر للاختيار</button>
                            
                    </div>
                </div>
               

            </div>
            <div class="col-lg-4 col-md-4 ">
                <div class="card">

                <img src="../../../../../assets/images/img/design3.png"> 
                <h3>التصميم الثالث </h3>

                <div >
                    <button class="show" (click)="onView('../../../../../assets/images/img/design3.png')">عرض</button>
                    <button class="chose"[ngClass]="{'chosed' : chose=='3'}" (click)="chosedesign(3)">انقر للاختيار</button>
                        
                </div>

            </div>
            </div>

            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 ">
                <div class="card">

                <img src="../../../../../assets/images/img/design1.png" > 
                <h3>التصميم الرابع </h3>

                <div >
                    <button class="show" (click)="onView('../../../../../assets/images/img/design1.png')">عرض</button>
                    <button class="chose" [ngClass]="{'chosed' : chose=='1'}"(click)='chosedesign(1)'>انقر للاختيار</button>
                        
                </div>

            </div>
            </div>
    </div>
</div>