img{
    margin: 4%;
    width: 80%;
}
.card{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    h3 ,div{
        margin-right: 6%;
    }
    h3{
        color: #20303c;
        font-size: 24px;
    }
    button{
        margin: 2%;
        border-radius: 5px;
        color: white;
        padding: 5px 15px;
        border: 1px solid;
    }
    .show{
        background-color: chocolate;

    }
    .chose{
        background-color: #20303c;
    }
}
.chosed{
    display: none;
}