<div class="dialog" [ngClass]="[lang =='en' ?'endirect':'direc']">
    <div align="left" (click)="close()">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </div>
    <h1> الشروط والاحكام</h1>
    
    <div>
        <p>
            عزيزي العميل أهلاً بك في الفاتورة السعودية للفوترة الإلكترونية.
            الرجاء قراءة شروط وأحكام إستخدام البرنامج, ويعتبر إستمرارك بالتسجيل بمثابة موافقة على الشروط و الأحكام

        </p>
    </div>
    <ul>
        <li>
            يجب أن يقدم المستخدم معلومات صحيحه لكلاً من المنشأة و العميل.
        </li>
        <li>تسجيل إلزامي للبيانات الأساسية التالية في الفواتير لكلاً من المنشأة و العميل:
            <ol>
                <li>الرقم الضريبي</li>
                <li> اسم المنشأة / العميل</li>
                  <li>الرقم المميز</li>
                  <li>العنوان الوطني</li>        
            </ol>
        </li>
        <li>
            لا يمكن استرداد المبلغ عند الاشتراك.
        </li>
        <li>يتم إلغاء الحساب في حالة عدم تجديد الاشتراك خلال مدة لا تزيد عن (45) يوماً.</li>
    </ul>
</div>
<div align="left">
    <button (click)="close()">اوافق</button>
</div>