<app-first-design *ngIf="designnum=='2'"   [isShow]="true" [invoice]="invoice" [baseUrl]="baseUrl"></app-first-design>
<app-second-design *ngIf="designnum=='4'"  [isShow]="true"[invoice]="invoice" [baseUrl]="baseUrl"></app-second-design>
<ng-container>
  <app-third-design *ngIf="designnum=='3'"  [isShow]="true"[invoice]="invoice" [baseUrl]="baseUrl"></app-third-design>
</ng-container>
<app-sample-design *ngIf="designnum=='1'"  [isShow]="true"[invoice]="invoice" [baseUrl]="baseUrl"></app-sample-design>

