.login{
    background-color: white;
   
}
img{
    position: absolute;
    width: 85%;
   
}
h1{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
    color: #19325A;
}
.form{
    padding-top: 11%
}
form{
    width: 77%;
    margin: auto;
    label,a{
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 37px;
        color: #19325A;
    }
    input{
        background: #E9E9E9;
        border-radius: 8px;
    }
    a{
        color:#4C6373 ;
    }
    .loginbtn{
        background: #19325A;
        border-radius: 30px;
        padding: 3px 48px;
        color: white;
        border: none;
        margin: auto;
        display: block;
        font-family: "Cairo";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
    }
    .loginbtn:hover{
        background: #8AB11B;
    }
    p{
        text-align: center;
        color: #4C6373;
        a{
            color: #19325A;
        }
    }
}
.steps{

    position: absolute;
    bottom: 25%;
    font-size: 70px;
    color: #19325A;
    right: 18%;
}
.dots{
    font-size: 34px;
    position: relative;
    top: -20px;
}