<div id="wrapper">
    <app-header-landing></app-header-landing>
    <div class="login">
       <div class="row form" >
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto ">
          <h1>  {{ 'forgetpassword' | translate }}</h1>
          <form class="form-auth-small" [formGroup]="form" (submit)="onSubmit()">
            
            <div class="form-group">
              <label>{{ 'Email Address' | translate }}</label>
              <input type="email" class="form-control" formControlName="Email" id="signin-email" required
                placeholder="{{ 'Email Address' | translate }}">
            </div>
            
            
            <button type="submit" class=" btn loginbtn">{{ 'LOGIN' | translate }}</button>
           
          </form>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto ">
          <img src="assets/images/img/forget password .png">
        </div>
       
       </div>
    </div>
    
  </div>